.title{
    background-color: rgb(36, 35, 41);
    margin-left: 43px;
    margin-right: auto;
    margin-top: 179px;
    width: 716px;
    height: 50px;
    border-radius: 7px;
}
.content_title{
    /* display: block; */
    position: relative;
    top: 164px;
    background-color: rgb(36, 35, 41);
    border: 1px solid #ccc;
    margin-left: 43px;
    margin-right: auto;
    margin-top: 18px;
    width: 716px;
    height: 50px;
    border-radius: 7px;
}
.content{
    display: block;
    background-color: rgb(231, 231, 231);
    border: 1px solid #ccc;
    box-shadow: -1px 5px 12px 0px rgb(61 61 61);
    margin-right: auto;
    margin-top: 18px;
    width: 716px;
    height: 50px;
    border-radius: 7px;
}
.title_text{
    display: inline-block;
    color: white;
    padding-left: 86px;
}
body{
    background-color:#ccc;
    font-family: 'Open Sans', sans-serif;
}
.panel{
    position: relative;
    width: 697px;
    top: 144px;
    left: 53px;
}
.record_name{
    border-radius: 7px;
    width: 197px;
    height: 34px;
    font-size: 13px;
    font-weight: bold;
    border: 1px solid #000c;
    margin-left: 27px;
    transition: 0.5s;
}
.save{
    border: 1px solid #545454;
    width: 149px;
    height: 38px;
    margin-left: 35px;
    border-radius: 7px;
    transition: 0.5s;
}
button:hover{
    border: none;
    color: white;
    background-color: #cf1d23;
}
input:focus{
    outline: none;
    box-shadow: 0px 0px 10px 0px rgb(36, 192, 231);
    border: none;
}
.author{
    color: black;
    text-align: center;
    margin-left: -276px;
    margin-top: -40px;
}
.empty{
    color: black;
    text-align: center;
    margin-left: -276px;
    margin-top: 15px;
}
.book{
    text-align: center;
    margin-left: 231px;
    margin-top: -37px;
}
.delete{
    text-align: end;
    padding-right: 30px;
    cursor: pointer;
}

.side_title{
    display: block;
    margin-top: 18px;
    background-color: rgb(36, 35, 41);
    margin-left: 810px;
    margin-top: 113px;
    width: 484px;
    height: 50px;
    border-radius: 7px;
}
.side_title_text{
    display: inline-block;
    color: white;
    padding-left: 121px;
}
.side_content{
    background-color: rgb(231, 231, 231);
    border: 1px solid #ccc;
    box-shadow: -1px 5px 12px 0px rgb(61 61 61);
    margin-top: 15px;
    width: 484px;
    height: 50px;
    border-radius: 7px;
}
.side_author{
    position: absolute;
    margin-top: -39px;
    margin-left: 106px;
}
.book_title{
    position: absolute;
    margin-left: 124px;
}
.side_books{
    text-align: end;
    padding-right: 159px;
}
.update{
    position: absolute;
    left: 628px;
    cursor: pointer;
}
.id{
    position: absolute;
    left: 91px;
}
.filter_panel{
    position: absolute;
    left: 62px;
    top: 80px;
}
.id_input{
    border-radius: 7px;
    width: 197px;
    height: 34px;
    font-size: 13px;
    font-weight: bold;
    border: 1px solid #000c;
    margin-left: 27px;
    transition: 0.5s;
}
.search{
    border: 1px solid #545454;
    width: 149px;
    height: 38px;
    margin-left: 35px;
    border-radius: 7px;
    transition: 0.5s;
}
